@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  @apply bg-light-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply bg-dark-blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-light-blue;
}
